/* Event page css */
.event-container {
  background-image: url(assets/bg/african-pattern-blue.png); 
}
.nav {
  background-color: rgba(233, 18, 18, 0.233);
  box-shadow: 20px;
}
.sub-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pic-box {
  overflow: hidden;
}

.pic-box img {
transition: all 1.5s ease;
animation: zoom-out-onLoad 1.5s ease alternate;
}

@keyframes zoom-out-onLoad {
  from {
    transform: scale(5.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes animateBG {
  from {
    /* background-position: 300px 100px; */
    transform: scale(4);
    /* transform: translateX(-400px); */
    /* transform: translateY(-100px); */
  }
  to {
    /* background-position: 100% 22%; */
    transform: scale(1);
  }
  
}

@keyframes animate {

  0% {
    background-image: url(assets/img/img-3.jpg);
  }
  20% {
    background-image: url(assets/img/img-2.jpg);
  }
  40% {
    background-image: url(assets/img/img-1.jpg);
  }
  
}

.ticket-Drops {
  width: 250px;
  height: 80px;
  left: 113px;
  /* top: 826px; */
  background: #1BDB6D;
  border-radius: 12px;
  font-size: 32px;
}
@media screen and (max-width: 640px) {
  
  .nav {
    display: none;
    background: transparent;
  }
  .title {
     /* letter-spacing: 4px;  */
     width: 280px;
     /* background-color: #1BDB; */
     /* overflow-x: hidden; */
     /* padding: 12px; */
  }
  .comico-logo {
    position: absolute;
    z-index: 99;
    width: 120px;
    height: 99px;
    left: 20px;
    top: 47px;
  }
  .comic-con {
    background-image: url(assets/bg/african-pattern-blue.png);
    position: relative;
    width: 250px;
    height: 250px;
    left: 5%;
    top: 48%;
    padding: 10px;
    /* border: 4px solid red; */
  }
  .img-1, .img-2, .img-3 {
    display: none;
  }
  .event-container {
    background-image: url(assets/img/img-1.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%; 
  }
  .ticket-Drops {
    width: 120px;
    height: 42px;
    /* left: 36px;
    top: 672px; */
    background: #1BDB6D;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .sm-nav {
    left: 0%;
    right: 0%;
    /* top: 90%; */
    bottom: 0%;
  }
  /* .sm-nav .text {
    font-size: 10px;
  } */

}
@media screen and (max-width:375px){
  .event-container {
    height: 120vh;
    width: 100%;
  }
  /* .sm-nav {
    height: 14vh;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 120%;
    bottom: 0%;
  } */
  .ticket-Drops {
    width: 120px;
    height: 42px;
    /* left: 36px;
    top: 672px; */
    background: #1BDB6D;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -10%;
  }
}




